<mat-toolbar class="navbar-container" color="primary">
  <span class="navbar-title" routerLink="/dashboard">Dashboard</span>
  <span class="bar-spacer"></span>
  <button class="navbar-button" mat-button routerLink="/dashboard">Users</button>
  <span class="bar-spacer"></span>
  <button
    mat-icon-button
    color="secondary"
    aria-label="Example icon button with a home icon"
    routerLink="/logout"
    class="logout-icon"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
