<div class="container" [formGroup]="form">
  <mat-toolbar>
    <span>Create user</span>
    <span class="bar-spacer"></span>
    <button
      mat-mini-fab
      color="secondary"
      aria-label="add new user"
      routerLink="/dashboard"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card class="space-top">
    <form class="space-top" (submit)="createUser()">
      <mat-grid-list cols="4" rowHeight="12vh">
        <!-- Email -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="form-child">
            <mat-label>Email</mat-label>
            <input
              type="text"
              autocomplete="off"
              matInput
              formControlName="email"
            />
          </mat-form-field>
        </mat-grid-tile>

        <!-- Img -->
        <mat-grid-tile [colspan]="2" [rowspan]="4">
          <img
            src="./assets/img/quasardynamics.png"
            class="form-img"
            alt="quasar dynamics"
          />
        </mat-grid-tile>

        <!-- Name -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="form-child">
            <mat-label>Name</mat-label>
            <input
              type="text"
              autocomplete="off"
              matInput
              formControlName="name"
            />
          </mat-form-field>
        </mat-grid-tile>

        <!-- Surname -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="form-child">
            <mat-label>Surname</mat-label>
            <input
              type="text"
              autocomplete="off"
              matInput
              formControlName="surname"
            />
          </mat-form-field>
        </mat-grid-tile>

        <!-- Button -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="form.invalid"
          >
            Create
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
