<div class="container-center">
  <div class="login-box">
    <img
      src="./assets/img/quasardynamics.png"
      alt="quasar dynamics"
      width="50%"
    />

    <h1>Login</h1>

    <mat-form-field class="form-child" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="form-child" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>

    <button class="form-child form-btn" mat-raised-button color="primary">LOGIN</button>
  </div>
</div>
