<div class="container-center" (submit)="tryLogin()">
  <div class="login-box">

    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

    <form *ngIf="!isLoading" [formGroup]="form">
      <img
        src="./assets/img/quasardynamics.png"
        alt="quasar dynamics"
        width="50%"
      />

      <h1>Login</h1>

      <mat-form-field class="form-child" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field class="form-child" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          autocomplete="off"
          formControlName="password"
        />
      </mat-form-field>

      <button
        mat-raised-button
        class="form-child form-btn"
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
        LOGIN
      </button>
    </form>
  </div>
</div>
