/* generic table styles */
table {
  width: 100%;
  margin-top: 1vh;
}

th,
td {
  width: 20%;
  text-align: center;
}

a {
  cursor: pointer;
  padding: 0 0.5em;
}

/* empty table */
.no-users {
  text-align: center;
  padding-top: 5em;
}

/* table filter */
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

/* button */
.create-user-icon{
  transition: color 300ms;
}
.create-user-icon:hover {
  color: rgb(62, 238, 62);
}